.item_container {
  font-family: arial;
  width: 120px;
  height: 200px;
  border: 2px solid #333;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}

.img {
  width: 90px;
  height: 90px;
  margin: 0 auto 15px;
}

.name {
  font-weight: 400;
  font-size: 28px;
  margin-bottom: 10px;
}

.status {
  font-size: 20px;
}

.color_online {
  color: green;
}

.color_offline {
  color: red;
}