.table {
  border-collapse: collapse;
  margin: 20px 0 0 20px;
  font-family: arial;
  text-transform: capitalize;
  font-size: 20px;
}

.table thead {
  background-color: #222;
  color: #fff
}

.table th, td {
  border: 1px solid black;
  padding: 8px 70px;
}

.table tr:nth-child(even) {
  background-color: #bbb;
}

.currency {
  text-align: center;
}